@tailwind base;
@tailwind components;
@tailwind utilities;

#signin{
    background-image: url('../../public/under.jpg');
    background-repeat : no-repeat;
    background-size  : cover;
}

/*
#navbar{
    background-image: url('../../public/banner.png');
    background-repeat: repeat-x;
    
    background-size: contain;
}
*/